.home__header {
  margin: 3rem 0 25px;
  display: flex;
  justify-content: center;
  gap: 20px;
}

.home__header button {
  border: none;
  background-color: rgb(24, 147, 248);
  padding: 7px 15px;
  color: white;
  font: 18px sans-serif;
}

.home__img {
  display: grid;
  place-items: center;
}

.home__img img {
  height: 600px;
  width: 500px;
}
